{% set name = name|default('demo') %}
{% set id_collapsible = id_collapsible|default(now|date('su') ~ random(range(0,999))) %}
{%
  set classes = [
    'js-collapsible',
    'collapsible-' ~ name,
    expanded ? 'is-expanded'
  ]
%}

{% if prefix %}
  {{ prefix }}
{% endif %}

{% if errors %}
  <div>
    {{ errors }}
  </div>
{% endif %}

<div data-collapsible-close="{{ close | default('true') }}" {{ attributes.addClass(classes) }}>

  <button type="button" class="js-collapsible-cta collapsible-{{ name }}-cta"
          aria-controls="collapsible-{{ name }}-{{ id_collapsible }}"
          aria-expanded="{{ expanded | default('false') }}">

    {{ title }}
  </button>

  <div id="collapsible-{{ name }}-{{ id_collapsible }}" class="js-collapsible-content collapsible-{{ name }}-content">

    <div class="collapsible-{{ name }}-inner">
      {% if description.content %}
        <div{{ description.attributes.addClass('description') }}>{{ description.content }}</div>
      {% endif %}

      {{ children }}
    </div>
  </div>

</div>

{% if suffix %}
  {{ suffix }}
{% endif %}
